pyspark==3.5.0
pandas==2.2.0
psycopg2-binary==2.9.9
requests==2.31.0
beautifulsoup4==4.12.3
pythainlp==5.0.0
minio==7.2.4
apache-airflow-providers-apache-spark==4.10.0
apache-airflow-providers-amazon==8.18.0
apache-airflow-providers-postgres==5.11.0